<div class="p-grid">
    <div class="p-col">
        <p-card header="My Workspace">

            <ngx-spinner name="collection-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <div class="col-lg-4 pull-right p-mb-4">
                <select name="attackType" class="p-inputext" [(ngModel)]="selectedAttackType"
                        (change)="dopdownAttackType(selectedAttackType)">
                    <option *ngFor="let v of attackType" [ngValue]="v.value" id="attackType">{{v.label}}</option>
                </select>
            </div>
            <p-table *ngIf="selectedAttackType === 'Collections'" #dt [value]="indicatorData"
                     [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [paginator]="true" [rows]="10"
                     [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                     [totalRecords]="totalRecords"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Title</th>
                        <th> Tags</th>
                        <th width="200"> Modified Date</th>
                        <th width="200"> Upload Date</th>
                        <th width="200"> Upload Count</th>
                        <th width="100">
                            <span>Actions</span>
                            <i class="pi pi-spin pi-spinner" style="font-size: 2em" *ngIf="deleteLoader"></i>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>

                        <td><a class="onRowClick"
                               (click)="openCollectionsDialog(rowData.id)">{{rowData.title | uppercase }}</a></td>
                        <td>
                                    <span *ngFor="let symbols of rowData.tagDetails">
                                    <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.name}}"
                                           (click)="tagDetails(symbols.name)">
                                    </p-tag>
                                    </span>
                        </td>
                        <td>{{rowData.modifiedDate}}</td>
                        <td>{{rowData.uploadDate}}</td>
                        <td>{{rowData.indicatorCounts}}</td>
                        <td>
                            <a  (click)="updateAdvisory(rowData.id)"><i class="pi pi-pencil"></i></a>
                            &nbsp;&nbsp;<a (click)="deleteCollection(rowData.id)"><i class="pi pi-trash">
                        </i></a>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <p class="msg-dashBoard"> No Record Found </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-table *ngIf="selectedAttackType !== 'Collections' && selectedAttackType !== 'Tags'" #dt
                     [value]="indicatorData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [paginator]="true" [rows]="10"
                     [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                     [totalRecords]="totalRecords"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Indicator</th>
                        <th> Type</th>
                        <th> Upload Date</th>
                        <th> Last Updated</th>
                        <th> Upload Count</th>
                        <th> Tags</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>

                        <td><a class="onRowClick"
                               (click)="openDialog(rowData.ioc)">{{rowData.ioc | uppercase }}</a></td>
                        <td>{{rowData.type?.type}}</td>

                        <td>{{rowData.uploadDate}}</td>
                        <td>{{rowData.lastDate}}</td>
                        <td>{{rowData.counts}}</td>

                        <td>
                                    <span *ngFor="let symbols of rowData.tags">
                                    <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols}}"
                                           (click)="tagDetails(symbols)">
                                    </p-tag>
                                    </span>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <p class="msg-dashBoard"> No Record Found </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="selectedAttackType === 'Tags'">
                <b>Tags:</b>
                <div class="p-d-flex p-mt-3 p-flex-wrap">
                    <span *ngFor="let symbols of indicatorData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.name}}" (click)="tagDetails(symbols.name)"></p-tag>
                    </span>
                </div>
            </div>

        </p-card>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
