<div class="p-grid">
    <div class="p-col">
        <p-card header="Contributor: {{contributor}}">
            <ngx-spinner name="explore-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <p-tabView (onChange)="getSelectedHeader($event)">
            <p-tabPanel *ngIf="collectionCounts > 0" header="Collections({{ collectionCounts | number }})">
                <div *ngIf="show">
                    <app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="ipCounts > 0" header="IPv4({{ ipCounts | number }})" data-value="ip">
                <div *ngIf="show">
                    <app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="domainCounts > 0" header="Domain({{ domainCounts | number }})">
                <div *ngIf="show"><app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="urlCounts > 0" header="URL({{ urlCounts | number }})">
                <div *ngIf="show"><app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="emailCounts > 0" header="Email({{ emailCounts | number }})">
                <div *ngIf="show"><app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="malwareCounts > 0" header="Malware({{ malwareCounts | number }})">
                <div *ngIf="show"><app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            <p-tabPanel *ngIf="hashcounts > 0" header="FileHash({{ hashcounts | number }})">
                <div *ngIf="show"><app-ioc-table [data]="response"></app-ioc-table></div>
            </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>
</div>
