@import "variables";

.p-input-wrapper, app-input {
    width: 100%;

    .pi {
        left: 20px;
    }

}

::ng-deep .p-inputtext {
    @include input;

    &:focus {
        border-color: $primary-color;
    }

    &.p-error {
        border-color: $red-color;
    }

}