<a 
    class="link-img" 
    routerLink="{{ this.router }}" 
    title="{{ this.label }}" 
    routerLinkActive="active"
>
    <img src="{{ this.image }}" alt="{{ this.label }}" width="40"/>
    <span>{{ label }}</span>    
</a>