@import "variables";

::ng-deep header {
    @include header;

    .logo {
        background: $sidepanel-bg;
        width: 238px;
        height: 64px;

        a {
            background: url(/assets/logo-inner.svg) no-repeat center center;
            width: 238px;
            height: 64px;
            display: block;
        }

    }

    .p-avatar {
        width: 36px;
        height: 36px;
    }

}
