<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-6">
        <app-top-statistics></app-top-statistics>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-6">
        <app-top-tags></app-top-tags>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-6">
        <app-top-contributors></app-top-contributors>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12 p-xl-6">
        <app-recent-collections></app-recent-collections>
    </div>
</div>
