<p-card>
    <p-table *ngIf="type !== 'Collections' && type !== 'Malware'"  #dt [value]="exploreData"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
             [paginator]="true" [rows]="10"
             styleClass="p-datatable-customers p-datatable-gridlines app-table">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th> Indicator</th>
                <th> Upload Count</th>
                <th *ngIf="type === 'Hash'"> Type</th>
                <th> Upload Date</th>
                <th> Modified Date</th>
                <th> Tags</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                <td>{{rowData.counts}}</td>
                <td  *ngIf="type === 'Hash'">{{rowData?.type?.type}}</td>
                <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                <td>{{rowData.lastDate  | date:'dd/MMM/yyyy'}}</td>
                <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="6">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12">
                            <div class="panel panel-default">
                                <p class="msg-dashBoard"> No Record Found </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="type === 'Malware'">
        <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                  [paginator]="true" [rows]="10"
                  styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th> Indicator</th>
                    <th> Upload Count</th>
                    <th> Upload Date</th>
                    <th> Modified Date</th>
                    <th> Tags</th>
                    <th> Download</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                    <td>{{rowData.counts}}</td>
                    <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                    <td>{{rowData.lastDate  | date:'dd/MMM/yyyy'}}</td>
                    <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="downloadMalware(symbols)">{{symbols}}</p-tag></span></td>
                    <td><a class="onRowClick" (click)="openDialog(rowData.ioc)">Download</a></td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="6">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12">
                                <div class="panel panel-default">
                                    <p class="msg-dashBoard"> No Record Found </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="type === 'Collections'">
        <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                  [paginator]="true" [rows]="10"
                  styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th> Title</th>
                    <th> Upload Date</th>
                    <th> Modified Date</th>
                    <th> Indicator Counts</th>
                    <th> Tags</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openCollectionsDialog(rowData.id)">{{rowData.title}}</a></td>
                    <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                    <td>{{rowData.modifiedDate  | date:'dd/MMM/yyyy'}}</td>
                    <td>{{rowData?.indicatorCounts?.totalCount}}</td>
                    <td><span *ngFor="let symbols of rowData.tagDetails"><p-tag (click)="openTagDialog(symbols.name)">{{symbols.name}}</p-tag></span></td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="6">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12">
                                <div class="panel panel-default">
                                    <p class="msg-dashBoard"> No Record Found </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>

