<div class="p-grid">
    <div class="p-col-12">
        <p-card header="{{header}}">
            <ngx-spinner name="explore-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <div *ngIf="indicatorTypeForHtml !== 'Hash' && indicatorTypeForHtml !== 'All' && indicatorTypeForHtml !== 'Collections' && indicatorTypeForHtml !== 'Contributors' && indicatorTypeForHtml !== 'Malware'">
                <div class="table-has-scroll">
                    <div class="has-scoll">
                <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Indicator</th>
                            <th> Upload Count</th>
                            <th> Upload Date</th>
                            <th> Modified Date</th>
                            <th> Tags</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                            <td>{{rowData.counts}}</td>
                            <td>{{rowData.uploadDate  }}</td>
                            <td>{{rowData.lastDate  }}</td>
                            <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="indicatorTypeForHtml === 'All'">
                <div class="table-has-scroll">
                    <div class="has-scoll">
                <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Indicator</th>
                            <th> Type</th>
                            <th> Upload Count</th>
                            <th> Upload Date</th>
                            <th> Modified Date</th>
                            <th> Tags</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                            <td>{{rowData?.type?.type }}</td>
                            <td>{{rowData.counts}}</td>
                            <td>{{rowData.uploadDate }}</td>
                            <td>{{rowData.lastDate }}</td>
                            <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="6">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="indicatorTypeForHtml === 'Malware'">
                <div class="table-has-scroll">
                    <div class="has-scoll">
                <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Indicator</th>
                            <th> Upload Count</th>
                            <th> Upload Date</th>
                            <th> Modified Date</th>
                            <th> Tags</th>
                            <th> Download</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                            <td>{{rowData.counts}}</td>
                            <td>{{rowData.uploadDate  }}</td>
                            <td>{{rowData.lastDate  }}</td>
                            <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
                            <td><a class="onRowClick" (click)="downloadMalware(rowData.ioc)">Download</a></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="6">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="indicatorTypeForHtml === 'Contributors'">
                <div class="table-has-scroll">
                    <div class="has-scoll">
                <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Indicator</th>
                            <th> Indicator Count</th>
                            <th> Collection Count</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openContributorsDialog(rowData.email, rowData.contributor)">{{rowData.contributor}}</a></td>
                            <td>{{rowData.collectionCount}}</td>
                            <td>{{rowData.indicatorCount}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="3">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="indicatorTypeForHtml === 'Collections'">
                <div class="table-has-scroll">
                    <div class="has-scoll">
                <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                          [paginator]="true" [rows]="10"
                          [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                          [totalRecords]="totalRecords"
                          styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Title</th>
                            <th> Upload Date</th>
                            <th> Modified Date</th>
                            <th> Indicator Counts</th>
                            <th> Tags</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.title}}" (click)="openCollectionsDialog(rowData.id)">{{rowData.title}}</a></td>
                            <td>{{rowData.uploadDate }}</td>
                            <td>{{rowData.modifiedDate }}</td>
                            <td>{{rowData?.indicatorCounts?.totalCount}}</td>
                            <td><span *ngFor="let symbols of rowData.tagDetails"><p-tag (click)="openTagDialog(symbols.name)">{{symbols.name}}</p-tag></span></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="indicatorTypeForHtml === 'Hash'">
                <p-tabView (onChange)="changetab($event)">
                    <p-tabPanel header="FileHash-MD5({{ md5HashType | number }})" >
                        <div class="table-has-scroll">
                            <div class="has-scoll">
                        <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                  [paginator]="true" [rows]="10"
                                  [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                                  [totalRecords]="totalRecords"
                                  styleClass="p-datatable-customers p-datatable-gridlines app-table">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th> Indicator</th>
                                    <th> Upload Count</th>
                                    <th> Upload Date</th>
                                    <th> Modified Date</th>
                                    <th> Tags</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                    <td>{{rowData.counts}}</td>
                                    <td>{{rowData.uploadDate  }}</td>
                                    <td>{{rowData.lastDate  }}</td>
                                    <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="5">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12">
                                                <div class="panel panel-default">
                                                    <p class="msg-dashBoard"> No Record Found </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="FileHash-SHA1({{ sha1HashType | number }})">
                        <ng-template pTemplate="content">
                            <div class="table-has-scroll">
                                <div class="has-scoll">
                            <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                      [paginator]="true" [rows]="10"
                                      [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                                      [totalRecords]="totalRecords"
                                      styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th> Indicator</th>
                                        <th> Upload Count</th>
                                        <th> Upload Date</th>
                                        <th> Modified Date</th>
                                        <th> Tags</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                        <td>{{rowData.counts}}</td>
                                        <td>{{rowData.uploadDate }}</td>
                                        <td>{{rowData.lastDate }}</td>
                                        <td><span *ngFor="let symbols of rowData.tags" (click)="openTagDialog(symbols)"><p-tag>{{symbols}}</p-tag></span></td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="5">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                                </div>
                            </div>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel header="FileHash-SHA256({{ sha256HashType | number }})">
                        <ng-template pTemplate="content">
                            <div class="table-has-scroll">
                                <div class="has-scoll">
                            <p-table  #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                                      [paginator]="true" [rows]="10"
                                      [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                                      [totalRecords]="totalRecords"
                                      styleClass="p-datatable-customers p-datatable-gridlines app-table">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th> Indicator</th>
                                        <th> Upload Count</th>
                                        <th> Upload Date</th>
                                        <th> Modified Date</th>
                                        <th> Tags</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td><a class="onRowClick" pTooltip="{{rowData.ioc}}" (click)="openDialog(rowData.ioc)">{{rowData.ioc}}</a></td>
                                        <td>{{rowData.counts}}</td>
                                        <td>{{rowData.uploadDate }}</td>
                                        <td>{{rowData.lastDate }}</td>
                                        <td><span *ngFor="let symbols of rowData.tags"><p-tag (click)="openTagDialog(symbols)">{{symbols}}</p-tag></span></td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="5">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 col-md-12">
                                                    <div class="panel panel-default">
                                                        <p class="msg-dashBoard"> No Record Found </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                                </div>
                            </div>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-card>
    </div>
</div>
