@import "variables";
.red-star {
  color: red;
}
.p-error {
  color: red;
}
.p-button {
  width: 130px;
  margin: 5px;
}
.block-div {
  display: inline-flex;
}
.form-add {
  float: right;
}
::ng-deep app-createcollections .p-tabview-nav {
  margin-bottom: 30px !important;
}
