<div class="p-grid">
    <div class="p-col-12">
        <p-card header="Create Collections">
            <ngx-spinner name="createCollection-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <p-tabView (onChange)="getSelectedHeader($event)" [(activeIndex)]="activeIndex">
                <p-tabPanel header="Indicator Upload">
                    <form [formGroup]="collectionIoCForm">
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Collection Title (Only 150 Characters allowed)
                            </label>
                            <input type="text" pInputText class="p-inputtext animation  "
                                   placeholder="Add Title. E.g. Collection" formControlName="main" maxlength="150"

                            />
                            <div *ngIf="collectionError.main.errors && (collectionError.main.dirty || collectionError.main.touched)">
                                <span class="p-error" *ngIf="collectionError.main.errors.required">Title is required!</span>
                                <span class="p-error" *ngIf="collectionError.main.errors.type">Only Alphabets are not allowed!</span>
                                <span class="p-error" *ngIf="collectionError.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Description
                            </label>
                            <p-editor [placeholder]="'Enter text here...'" formControlName="description"
                                      [style]="{'height':'120px'}"></p-editor>
                            <div *ngIf="collectionError.description.errors && (collectionError.description.dirty || collectionError.description.touched)">
                                <span class="p-error" *ngIf="collectionError.description.errors.required">Description is required!</span>
                            </div>
                        </div>
                        <div class="p-field p-fluid">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Tags (Only 25 Characters)
                            </label>
                            <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="tags"
                                      placeholder="Enter Tags"
                                      (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                            <div *ngIf="collectionError.tags.errors && (collectionError.tags.dirty || collectionError.tags.touched)">
                                <span class="p-error" *ngIf="collectionError.tags.errors.required">Tags are required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Indicators
                            </label>
                            <div formArrayName="indicators" class="p-grid"
                                 *ngFor="let units of collectionIoCForm.get('indicators')['controls']; let collectionIocIndex = index;">
                                <div class="p-col " [formGroupName]="collectionIocIndex">
                                    <h3 class="form-add">
                                        <span *ngIf="collectionIocIndex!=0" (click)="removeIndicator(collectionIocIndex)"> <i class="pi pi-times"></i> </span>
                                    </h3>
                                    <div class=" p-grid">
                                        <div class="p-col-12 p-md-4 p-field">
                                            <select formControlName="type" class="p-inputtext animation  ">
                                                <option *ngFor="let v of indicatorsName"
                                                        [ngValue]="v.value">{{v.label}}</option>
                                            </select>
                                        </div>
                                        <div class="p-col-12 p-md-8  p-field">
                                            <input type="text" pInputText class="p-inputtext animation  "
                                                   formControlName="value"
                                                   (focus)="addIndicator(collectionIocIndex)"
                                                   (focus)="indicatorTypeOptions(collectionIocIndex, units.controls)"
                                                   [placeholder]="getPlaceholder(collectionIocIndex, units.controls)"
                                            />
                                            <div *ngIf="units.controls.value.errors && (units.controls.value.dirty || units.controls.value.touched)">
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.required"> {{hasError('required', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.pattern"> {{hasError('pattern', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.minlength"> {{hasError('minlength', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.maxlength"> {{hasError('maxlength', units.controls)}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="p-field block-div">
                            <button class="p-button p-component ng-star-inserted w-auto" type="button"
                                    (click)="oncollectionIoCFormSubmit()">
                                <span class="p-button-label">Create Collection</span>
                            </button>
                            <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="cancel()">
                                <span class="p-button-label">Cancel</span>
                            </button>

                        </div>
                    </form>

                </p-tabPanel>
                <p-tabPanel header="IoC File Upload">

                    <form *ngIf="!fileSubmit" [formGroup]="IoCFileUploadForm">
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Collection Title (Only 150 Characters allowed)
                            </label>
                            <input type="text" pInputText class="p-inputtext animation  "
                                   placeholder="Add Title. E.g. Collection" formControlName="main" maxlength="150"

                            />
                            <div *ngIf="iocerror.main.errors && (iocerror.main.dirty || iocerror.main.touched)">
                                <span class="p-error" *ngIf="iocerror.main.errors.required">Title is required!</span>
                                <span class="p-error"
                                      *ngIf="iocerror.main.errors.type">Only Alphabets are not allowed!</span>
                                <span class="p-error" *ngIf="iocerror.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Description
                            </label>
                            <p-editor [placeholder]="'Enter text here...'" formControlName="description"
                                      [style]="{'height':'120px'}"></p-editor>
                            <div *ngIf="iocerror.description.errors && (iocerror.description.dirty || iocerror.description.touched)">
                        <span class="p-error"
                              *ngIf="iocerror.description.errors.required">Description is required!</span>
                            </div>
                        </div>
                        <div class="p-field  p-fluid">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Tags (Only 25 Characters)
                            </label>
                            <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="tags"
                                      placeholder="Enter Tags"
                                      (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                            <div *ngIf="iocerror.tags.errors && (iocerror.tags.dirty || iocerror.tags.touched)">
                                <span class="p-error" *ngIf="iocerror.tags.errors.required">Tags are required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Select File &nbsp;&nbsp;
                            </label>
                            <input type="file" formControlName="file" class="form-control"
                                   #iocfile (change)="oniocFileToUploadAdded()" placeholder="Upload IoC File">
                            <div *ngIf="iocerror.file.errors && (iocerror.file.dirty || iocerror.file.touched)">
                                <span class="p-error" *ngIf="iocerror.file.errors.required">File is required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <b>Note: </b>File can contain all indicator types except Malware and YARA. File can be either in
                            CSV format or JSON format. &nbsp; <a href="../assets/community/csvSample.csv">CSV Sample</a> &nbsp;|&nbsp; <a (click)="downloadJSONsample()">JSON Sample</a>
                        </div>

                        <div class="p-field block-div">
                            <button class="p-button p-component ng-star-inserted w-auto" type="button"
                                    (click)="onIoCFileUploadFormSubmit(iocFileToUpload)">
                                <span class="p-button-label">Upload</span>
                            </button>
                            <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="cancel()">
                                <span class="p-button-label">Cancel</span>
                            </button>

                        </div>
                    </form>
                    <form *ngIf="fileSubmit" [formGroup]="collectionIoCForm">
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Collection Title (Only 150 Characters allowed)
                            </label>
                            <input type="text" pInputText class="p-inputtext animation  "
                                   placeholder="Add Title. E.g. Collection" formControlName="main" maxlength="150"

                            />
                            <div *ngIf="collectionError.main.errors && (collectionError.main.dirty || collectionError.main.touched)">
                                <span class="p-error" *ngIf="collectionError.main.errors.required">Title is required!</span>
                                <span class="p-error" *ngIf="collectionError.main.errors.type">Only Alphabets are not allowed!</span>
                                <span class="p-error" *ngIf="collectionError.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Description
                            </label>
                            <p-editor [placeholder]="'Enter text here...'" formControlName="description"
                                      [style]="{'height':'120px'}"></p-editor>
                            <div *ngIf="collectionError.description.errors && (collectionError.description.dirty || collectionError.description.touched)">
                                <span class="p-error" *ngIf="collectionError.description.errors.required">Description is required!</span>
                            </div>
                        </div>
                        <div class="p-field p-fluid">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Tags (Only 25 Characters)
                            </label>
                            <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="tags"
                                      placeholder="Enter Tags"
                                      (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                            <div *ngIf="collectionError.tags.errors && (collectionError.tags.dirty || collectionError.tags.touched)">
                                <span class="p-error" *ngIf="collectionError.tags.errors.required">Tags are required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Indicators
                            </label>
                            <div formArrayName="indicators" class="p-grid"
                                 *ngFor="let units of collectionIoCForm.get('indicators')['controls']; let collectionIocIndex = index;">
                                <div class="p-col " [formGroupName]="collectionIocIndex">
                                    <h3 class="form-add">
                                        <span *ngIf="collectionIocIndex!=0" (click)="removeIndicator(collectionIocIndex)"> <i class="pi pi-times"></i> </span>
                                    </h3>
                                    <div class=" p-grid">
                                        <div class="p-col-12 p-md-4 p-field">
                                            <select formControlName="type" class="p-inputtext animation  ">
                                                <option *ngFor="let v of indicatorsName"
                                                        [ngValue]="v.value">{{v.label}}</option>
                                            </select>
                                        </div>
                                        <div class="p-col-12 p-md-8  p-field">
                                            <input type="text" pInputText class="p-inputtext animation  "
                                                   formControlName="value"
                                                   [placeholder]="getPlaceholder(collectionIocIndex, units.controls)"
                                                   (focus)="addIndicator(collectionIocIndex)"
                                                   (focus)="indicatorTypeOptions(collectionIocIndex, units.controls)"
                                            />
                                            <div *ngIf="units.controls.value.errors && (units.controls.value.dirty || units.controls.value.touched)">
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.required"> {{hasError('required', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.pattern"> {{hasError('pattern', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.minlength"> {{hasError('minlength', units.controls)}}</span>
                                                <span class="p-error"
                                                      *ngIf="units.controls.value.errors.maxlength"> {{hasError('maxlength', units.controls)}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="p-field block-div">
                            <button class="p-button p-component ng-star-inserted w-auto" type="button"
                                    (click)="oncollectionIoCFormSubmit()">
                                <span class="p-button-label">Create Collection</span>
                            </button>
                            <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="cancel()">
                                <span class="p-button-label">Cancel</span>
                            </button>

                        </div>
                    </form>

                </p-tabPanel>
                <p-tabPanel header="Malware Upload">
                    <form [formGroup]="mawlareUploadForm">
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Collection Title (Only 150 Characters allowed)
                            </label>
                            <input type="text" pInputText class="p-inputtext animation  "
                                   placeholder="Add Title. E.g. Collection" formControlName="main" maxlength="150"

                            />
                            <div *ngIf="malwareError.main.errors && (malwareError.main.dirty || malwareError.main.touched)">
                                <span class="p-error" *ngIf="malwareError.main.errors.required">Title is required!</span>
                                <span class="p-error"
                                      *ngIf="malwareError.main.errors.type">Only Alphabets are not allowed!</span>
                                <span class="p-error" *ngIf="malwareError.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Description
                            </label>
                            <p-editor [placeholder]="'Enter text here...'" formControlName="description"
                                      [style]="{'height':'120px'}"></p-editor>
                            <div *ngIf="malwareError.description.errors && (malwareError.description.dirty || malwareError.description.touched)">
                                <span class="p-error" *ngIf="malwareError.description.errors.required">Description is required!</span>
                            </div>
                        </div>
                        <div class="p-field  p-fluid">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Tags (Only 25 Characters)
                            </label>
                            <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="tags"
                                      placeholder="Enter Tags"
                                      (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                            <div *ngIf="malwareError.tags.errors && (malwareError.tags.dirty || malwareError.tags.touched)">
                                <span class="p-error" *ngIf="malwareError.tags.errors.required">Tags are required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <label type="text" class="col-form-label">
                                <span class="red-star">*</span> Select File &nbsp;&nbsp;
                            </label>
                            <input type="file" formControlName="file" class="form-control"
                                   #file (change)="onMalwareFileAdded()" placeholder="Upload Malware File">
                            <div *ngIf="malwareError.file.errors && (malwareError.file.dirty || malwareError.file.touched)">
                                <span class="p-error" *ngIf="malwareError.file.errors.required">File is required!</span>
                            </div>
                        </div>
                        <div class="p-field">
                            <b>Note: </b>Please upload separate file for IOCs by selecting IOC file upload.
                        </div>
                        <div class="p-field block-div">
                            <button class="p-button p-component ng-star-inserted w-auto" type="button"
                                    (click)="onmawlareUploadFormSubmit(malwarefilesToUpload)">
                                <span class="p-button-label">Upload Malware</span>
                            </button>
                            <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="cancel()">
                                <span class="p-button-label">Cancel</span>
                            </button>

                        </div>
                    </form>

                </p-tabPanel>
            </p-tabView>


        </p-card>
    </div>
</div>

