<div class="p-grid">
    <div class="p-col">
        <div class="spin">
            <ngx-spinner name="comadvidialog-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                         type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
        </div>
        <p-card *ngIf="show">
            <ng-template class="card-title ui-g-12" pTemplate="caption">
                <label *ngIf="indicatorData?.status === false" class="label label-danger float-right disabled">Expired</label>
                <div class="p-d-flex p-justify-end p-align-center" *ngIf="indicatorData?.status === true && (userRole === 'ROLE_SOC_ADMIN' || userRole === 'ROLE_L1_ANALYST' || userRole === 'ROLE_L2_ANALYST')">
                   <!-- <button *ngIf="userRole" type="button" class="p-button p-component ng-star-inserted w-auto p-mt-3" data-toggle="dropdown">
                        <span class="pi pi-ellipsis-v"></span>
                    </button> -->
                    <ul class="dropdown-menu action-btns" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click)="expireIT(indicatorData.id)">Expire</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="edit(indicatorData.id)">Edit</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="deleteIT(indicatorData.id)">Delete</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <table class="p-datatable-customers p-datatable-gridlines app-table">
                <tbody>
                <tr *ngIf="indicatorData.title">
                    <th>Title</th>
                    <td>{{indicatorData.title || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.expireDate">
                    <th>Expiry Date</th>
                    <td>{{indicatorData.expireDate | date:'dd-MMM-yyyy' || "--"}}</td>
                </tr>
            <tr *ngIf="indicatorData.expireOn">
                    <th>Expired On</th>
                    <td>{{indicatorData.expireOn | date:'dd-MMM-yyyy' || "--" || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.summary">
                    <th>Summary</th>
                    <td><span *ngIf="indicatorData.summary" [innerHTML]="indicatorData.summary"></span>
                        <span *ngIf="!indicatorData.summary">--</span></td>
                </tr>
                <tr *ngIf="indicatorData.details">
                    <th>Details</th>
                    <td><span *ngIf="indicatorData.details" [innerHTML]="indicatorData.details"></span>
                        <span *ngIf="!indicatorData.details">--</span></td>
                </tr>
                <tr *ngIf="tags && tags.length > 0">
                    <th>Tags</th>
                    <td><span *ngFor="let symbols of tags">
                   <p-tag (click)="openDialog(symbols.name)"
                          class="fontsize">{{symbols.name}} </p-tag>
                    </span></td>
                </tr>
                </tbody>
            </table>
        </p-card>
        <p-card *ngIf="!show">
            <div class="card-body">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">No Record Found</li>
                    </ul>
                </div>
            </div>
        </p-card>
    </div>
</div>
