<p-card header="Upload IoCs">
    <ngx-spinner name="updateCollection-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                 type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <form [formGroup]="collectionIoCForm">
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Collection Title (Only 150 Characters allowed)
                    </label>
                    <input type="text" pInputText class="p-inputtext animation  "
                           placeholder="Add Title. E.g. Collection" formControlName="main" maxlength="150"
                    />
                    <div *ngIf="updateCollectionError.main.errors && (updateCollectionError.main.dirty || updateCollectionError.main.touched)">
                        <span class="p-error" *ngIf="updateCollectionError.main.errors.required">Title is required!</span>
                        <span class="p-error" *ngIf="updateCollectionError.main.errors.type">Only Alphabets are not allowed!</span>
                        <span class="p-error" *ngIf="updateCollectionError.main.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                    </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Modified Date
                    </label>
                    <input type="text" pInputText class="p-inputtext animation  "
                            formControlName="modifiedDate" [disabled]="true" readonly

                    />
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Upload Date
                    </label>
                    <input type="text" pInputText class="p-inputtext animation  " [disabled]="true" readonly
                           formControlName="uploadDate"

                    />
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Description
                    </label>
                    <p-editor [placeholder]="'Enter text here...'" formControlName="description"
                              [style]="{'height':'120px'}"></p-editor>
                    <div *ngIf="updateCollectionError.description.errors && (updateCollectionError.description.dirty || updateCollectionError.description.touched)">
                        <span class="p-error" *ngIf="updateCollectionError.description.errors.required">Description is required!</span>
                    </div>
                </div>
                <div class="p-field  p-fluid">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Tags (Only 25 Characters)
                    </label>
                    <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="tags"
                             placeholder="Enter Tags"
                             (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                    <div *ngIf="updateCollectionError.tags.errors && (updateCollectionError.tags.dirty || updateCollectionError.tags.touched)">
                        <span class="p-error" *ngIf="updateCollectionError.tags.errors.required">Tags are required!</span>
                    </div>
                </div>
                <div class="p-field">
                    <label type="text" class="col-form-label">
                        <span class="red-star">*</span> Indicators
                    </label>
                    <div formArrayName="indicators" class="p-grid"
                         *ngFor="let units of collectionIoCForm.get('indicators')['controls']; let i = index;">
                        <div class="p-col " [formGroupName]="i">
                            <h3 class="form-add">
                                <span *ngIf="i!=0" (click)="removeIndicator(i)"> <i class="pi pi-times"></i> </span>
                            </h3>
                            <div  class=" p-grid">
                                <div class="p-col-12 p-md-4 p-field">
                                    <select formControlName="type" class="p-inputtext animation  ">
                                        <option *ngFor="let v of indicatorsName"
                                                [ngValue]="v.value">{{v.label}}</option>
                                    </select>
                                </div>

                                <div class="p-col-12 p-md-8  p-field">
                                    <input type="text" pInputText class="p-inputtext animation  "
                                           formControlName="value"
                                           (focus)="addIndicator(i)"
                                           [placeholder]="getPlaceholder(i, units.controls)"
                                           (focus)="indicatorTypeOptions(i, units.controls)"
                                    />
                                    <div *ngIf="units.controls.value.errors && (units.controls.value.dirty || units.controls.value.touched)">
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.required"> {{hasError('required', units.controls)}}</span>
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.pattern"> {{hasError('pattern', units.controls)}}</span>
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.minlength"> {{hasError('minlength', units.controls)}}</span>
                                        <span class="p-error"
                                              *ngIf="units.controls.value.errors.maxlength"> {{hasError('maxlength', units.controls)}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="p-field block-div">
                    <button class="p-button p-component ng-star-inserted" type="button"
                            (click)="oncollectionIoCFormSubmit()">
                        <span class="p-button-label">Update Collection</span>
                    </button>
                    <button class="p-button p-component ng-star-inserted" type="button" (click)="cancel()">
                        <span class="p-button-label">Cancel</span>
                    </button>

                </div>
            </form>


</p-card>
