<div class="p-grid">
    <div class="p-col-12">
        <ngx-spinner name="iocs-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                     type="ball-clip-rotate"
                     [fullScreen]="true"><p> Loading... </p></ngx-spinner>
        <p-card *ngIf="show" header="Similar Uploads">
            <div class="table-has-scroll">
                <div class="has-scoll">
            <table class="p-datatable-customers p-datatable-gridlines app-table">
                <tbody>
                <tr *ngIf="indicatorData.indicator">
                    <th>Indicator</th>
                    <td>{{indicatorData.indicator || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.description">
                    <th>Description</th>
                    <td><span *ngIf="indicatorData.description" [innerHTML]="indicatorData.description"></span>
                </tr>
                <tr *ngIf="indicatorData.dataSources && indicatorData.dataSources?.length>0">
                    <th>Sources</th>
                    <td>
                        <div *ngIf="indicatorData.dataSources && indicatorData.dataSources?.length>0" class="pl-2">
                            <span *ngFor="let symbols of indicatorData.dataSources">
                                <img src="../../../../assets/svgs/{{symbols}}.png" style="max-height: 35px">
                            </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="indicatorData.description">
                    <th>Sources</th>
                    <td>
                        <div *ngIf="indicatorData.dataSources && indicatorData.dataSources?.length>0" class="pl-2">
                            <span *ngFor="let symbols of indicatorData.dataSources">
                                <img src="../../../../assets/svgs/{{symbols}}.png">
                            </span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="indicatorData.uploadCount">
                    <th>Appearance Counts</th>
                    <td>{{indicatorData.uploadCount || "--"}}</td>
                </tr>
                </tbody>
            </table>
            <p-table #dt [value]="collectionResponses" [alwaysShowPaginator]="false" [paginator]="true" [rows]="10"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"

                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Collection</th>
                        <th> Owner</th>
                        <th> Upload Date</th>
                        <th> Modified Date</th>
                        <th> Tag</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td><a class="onRowClick"
                               (click)="openCollectionsDialog(rowData.id)">{{rowData.title | uppercase }}</a></td>
                        <td>{{rowData.owner}}</td>
                        <td>{{rowData.uploadDate}}</td>
                        <td>{{rowData.modifiedDate}}</td>
                        <td>
                            <span *ngFor="let symbols of rowData.tagDetails">
                                <p-tag (click)="openDialog(symbols.name)" class="fontsize">{{symbols.name}} </p-tag>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-12">
                                    <div class="panel panel-default">
                                        <p class="msg-dashBoard"> No Other Contributors have added any collection. </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
                </div>
            </div>
        </p-card>
        <p-card *ngIf="!show">
            <div class="card-body">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">No Other Contributors have added any collection</li>
                    </ul>
                </div>
            </div>
        </p-card>
    </div>
</div>
