@import "variables";

::ng-deep .p-button {
    @include p-button;

    &:hover {
        background: $link-color;
    }

}

::ng-deep .large {
    .p-button {
        height: 58px;
        line-height: 58px;
        border-radius: 30px;
    }
}

::ng-deep .full {
    .p-button {
        width: 100%;
    }
}

::ng-deep .secondary  {
    .p-button {
        background: none;
        border: 1px solid $body-color;

        &:hover {
            opacity: 0.7;
        }

    }
    
}