<p-panelMenu [model]="items"></p-panelMenu>
<div class="menu-bottom">
    <ul>
        <li>
            <app-router-link router="/admin-panel/profile" label="Profile" icon="pi-user"></app-router-link>
        </li>
        <li *ngIf="checkIfdisabeldRoles">
            <app-router-link router="/admin-panel/manageUsers" label="Manage Users" icon="pi-users"></app-router-link>
        </li>
        <li *ngIf="!checkIfdisabeldRoles">
            <a class="link" href="javascript: void(0)" title="Manage Users"><i class="pi pi-users"></i>Manage Users</a>
        </li>
        <li>
            <app-router-link router="/admin-panel/admin" label="Admin" icon="pi-user-edit"></app-router-link>
        </li>
        <li>
            <app-router-link router="/login" label="Log Out" icon="pi-sign-out"></app-router-link>
        </li>
    </ul>    
</div>
