<div class="p-grid">
    <div class="p-col-12">
        <p-card header="Advisories">

            <ngx-spinner name="advisory-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <p-tabView [(activeIndex)]="index">

                <p-tabPanel header="Active">
                    <div class="table-has-scroll">
                        <div class="has-scoll">
                    <p-table #dt [value]="active" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="false"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template *ngIf="userRole === 'ROLE_SOC_ADMIN' || userRole === 'ROLE_L1_ANALYST'
                                    || userRole === 'ROLE_L2_ANALYST'" pTemplate="caption">
                            <div class="p-d-flex p-justify-end p-align-center">
                                <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                                        (click)="createAdvisory()">
                                    <span class="p-button-label">CREATE ADVISORY  </span>
                                </button>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th width="25%"> Title</th>
                                <th> Upload Date</th>
                                <th> Advisory Deadline</th>
                                <th> Modified Date</th>
                                <th> Tags</th>
                                <th width="120px" *ngIf="userRole === 'ROLE_SOC_ADMIN' || userRole === 'ROLE_L1_ANALYST'
                                    || userRole === 'ROLE_L2_ANALYST'">
                                    <span >Action</span>
                                    <i class="pi pi-spin pi-spinner" style="font-size: 2em" *ngIf="deleteLoader"></i>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>

                                <td><a class="onRowClick"
                                       (click)="openDialog(rowData.id)">{{rowData.title | uppercase }}</a></td>

                                <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>{{rowData.expireDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>{{rowData.modifiedDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>
                                    <span *ngFor="let symbols of rowData.advisoryTags">
                                    <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.tag.name}}"
                                           (click)="openTagDialog(symbols.tag.name)">
                                    </p-tag>
                                    </span>
                                </td>
                                <td *ngIf="rowData.status === true && (userRole === 'ROLE_SOC_ADMIN' || userRole === 'ROLE_L1_ANALYST' || userRole === 'ROLE_L2_ANALYST')">
                                    <span><i (click)="updateAdvisory(rowData.id)" class="pi pi-pencil"></i></span> &nbsp; <span><i (click)="deleteAdvisory(rowData.id)" class="pi pi-trash"></i></span>
                                </td>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="6">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12">
                                            <div class="panel panel-default">
                                                <p class="msg-dashBoard"> No Record Found </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Expired">
                    <div class="table-has-scroll">
                        <div class="has-scoll">
                    <p-table #dt [value]="expire" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [alwaysShowPaginator]="false"
                             [paginator]="true" [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template *ngIf="userRole === 'ROLE_SOC_ADMIN' || userRole === 'ROLE_L1_ANALYST'
                                    || userRole === 'ROLE_L2_ANALYST'" pTemplate="caption">
                            <div class="p-d-flex p-justify-end p-align-center">
                                <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                                        (click)="createAdvisory()">
                                    <span class="p-button-label">CREATE ADVISORY  </span>
                                </button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Title</th>
                                <th> Upload Date</th>
                                <th> Advisory Deadline</th>
                                <th> Modified Date</th>
                                <th> Tags</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>

                                <td><a class="onRowClick"
                                       (click)=" openDialog(rowData.id)">
                                    {{rowData.title | uppercase }}</a></td>

                                <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>{{rowData.expireDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>{{rowData.modifiedDate  | date:'dd/MMM/yyyy'}}</td>
                                <td>
                                    <span *ngFor="let symbols of rowData.advisoryTags">
                                    <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.tag.name}}"
                                           (click)="openTagDialog(symbols.tag.name)">
                                    </p-tag>
                                    </span>
                                </td>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="6">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12">
                                            <div class="panel panel-default">
                                                <p class="msg-dashBoard"> No Record Found </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
