<div class="p-grid">
    <div class="p-col-12">
        <ngx-spinner name="iocs-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                     type="ball-clip-rotate"
                     [fullScreen]="true"><p> Loading... </p></ngx-spinner>
        <p-card header="Searched Results for {{value}}">
            <div class="table-has-scroll">
                <div class="has-scoll">
            <p-table #dt [value]="indicatorData" [alwaysShowPaginator]="false" [paginator]="true"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [rows]="10"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th> Title</th>
                    <th> Upload Date</th>
                    <th> Last Updated</th>
                    <th> Tag</th>
                    <th> Counts</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td><a class="onRowClick"
                           (click)="openCollectionsDialog(rowData.id)">{{rowData.title | uppercase }}</a></td>
                    <td>{{rowData.uploadDate}}</td>
                    <td>{{rowData.modifiedDate}}</td>
                    <td>
                            <span *ngFor="let symbols of rowData.tagDetails">
                                <p-tag (click)="openDialog(symbols.name)" class="fontsize">{{symbols.name}} </p-tag>
                            </span>
                    </td>
                    <td>{{rowData?.indicatorCounts?.totalCount}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="6">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12">
                                <div class="panel panel-default">
                                    <p class="msg-dashBoard"> No Record Found </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
                </div>
            </div>
        </p-card>

    </div>
</div>
