<p-card header="Update Advisory">
    <ngx-spinner name="updateAdvisory-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                 type="ball-clip-rotate"
                 [fullScreen]="true"><p> Loading... </p></ngx-spinner>
        <form #addMountForm="ngForm">
            <div *ngIf="fetchData" class="p-field">
                <label type="text" class="col-form-label">
                    <span class="red-star">*</span> Advisory Title (Only 150 Characaters)
                </label>
                <input type="text" pInputText class="p-inputtext animation  "
                       placeholder="Cybercrime: 25% Of All Malware Targets Financial Services, Credit Card Fraud Up 200%"
                       name="title" ngModel  #title="ngModel" maxlength="150"
                       [(ngModel)]="fetchData.title"
                       pattern="^[ A-Za-z0-9_.%,@#&$:_-]+$" required
                />
                <div *ngIf="title.errors && (title.dirty || title.touched)">
                    <span class="p-error" *ngIf="title.errors.required">Title is required!</span>
                    <span class="p-error" *ngIf="title.errors.type">Only Alphabets are not allowed!</span>
                    <span class="p-error" *ngIf="title.errors.pattern">Title is incorrect ! Only these characters are allowed (A-z,1-9,
                        @,#,&,$,_,-,:)</span>
                </div>
            </div>
            <div  *ngIf="fetchData" class="p-field">
                <label type="text" class="col-form-label">
                    <span class="red-star">*</span> Summary
                </label>
                <p-editor [placeholder]="'Enter text here...'" name="summary"
                          [(ngModel)]="summaryAdvisory" #summary="ngModel" required
                          [style]="{'height':'120px'}"></p-editor>
            </div>
            <div  *ngIf="fetchData"  class="p-field">
                <label type="text" class="col-form-label">
                    <span class="red-star">*</span> Details
                </label>
                <p-editor [placeholder]="'Enter text here...'" name="description"
                          [(ngModel)]="descriptionAdvisory" #description="ngModel" required
                          [style]="{'height':'120px'}"></p-editor>
            </div>
            <div  *ngIf="fetchData"  class="p-field p-fluid">
                <label type="text" class="col-form-label">
                    <span class="red-star">*</span>  Tags (Only 25 Characters)
                </label>
                <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" name="tags" ngModel #tags="ngModel" required
                         placeholder="Enter Tags"
                         [(ngModel)]="gettag"
                         (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>

                <div *ngIf="tags.errors && (tags.dirty || tags.touched)">
                    <span class="p-error" *ngIf="tags.errors.required">Tags are required!</span>
                </div>
            </div>
            <div  *ngIf="fetchData"  class="p-field">
                <label type="text" class="col-form-label">
                    <span class="red-star">*</span>  Advisory Deadline
                </label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                            [readonlyInput]="true"
                            [minDate]="minDate"
                            placeholder="Add Expiry Date" [(ngModel)]="date"
                            name="expirydate" ngModel  #expirydate="ngModel"
                            inputId="navigators"
                            ></p-calendar>
                <div *ngIf="expirydate.errors && (expirydate.dirty || expirydate.touched)">
                    <span class="p-error" *ngIf="expirydate.errors.required">Expiry date is required!</span>
                </div>
            </div>

            <div  *ngIf="fetchData"  class="p-field block-div">
                <button class="p-button p-component ng-star-inserted" type="button"
                        (click)="onSubmit(addMountForm.value)">
                    <span class="p-button-label">Update Advisory</span>
                </button>
                <button class="p-button p-component ng-star-inserted" type="button" (click)="cancel()">
                    <span class="p-button-label">Cancel</span>
                </button>

            </div>
        </form>


</p-card>

