@import "variables";

::ng-deep .p-field-checkbox {
    
    margin: 0;

    .p-checkbox {
        width: 22px;
        height: 22px;
      }
      .p-checkbox .p-checkbox-box {
        border: 1px solid $body-color;        
        width: 22px;
        height: 22px;        
        border-radius: 5px;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      }
      .p-checkbox .p-checkbox-box .p-checkbox-icon {
        transition-duration: 0.2s;
        color: $body-color;
        font-size: 14px;
      }
      .p-checkbox .p-checkbox-box.p-highlight {
        border-color: $primary-color;
        background: $primary-color;
      }
      .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: $primary-color;
      }
      .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        outline: 0 none;
        outline-offset: 0;        
        border-color: $primary-color;
      }
      .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $primary-color;
        background: $primary-color;
        color: $body-color;
      }
      > label {
          margin-left: 0.7rem;
          cursor: pointer;
      }
}