<div *ngIf="showLinks()" class="p-grid">
  <div class="p-col">
    <p-card header="Advisory">

      <ngx-spinner name="advisory-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
          <p-table #dt [value]="indicatorData" [showCurrentPageReport]="true"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                   [alwaysShowPaginator]="false"
                   [paginator]="true" [rows]="10"
                   styleClass="p-datatable-customers p-datatable-gridlines app-table">

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th width="25%"> Title</th>
                <th> Upload Date</th>
                <th> Tags</th>
                <th> Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>

                <td><a class="onRowClick"
                       (click)="userDetails(rowData.id)">{{rowData.title | uppercase }}</a></td>

                <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                <td>
                  <span *ngFor="let symbols of rowData.advisoryTags">
                    <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.tag.name}}"
                           (click)="tagDetails(symbols.tag.name)">
                    </p-tag>
                  </span>
                </td>
                <td>
                  <span class="label label-success" *ngIf="rowData.status === true"> Active</span>
                  <span class="label label-danger" *ngIf="rowData.status === false"> Expired</span>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="6">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12">
                      <div class="panel panel-default">
                        <p class="msg-dashBoard"> No Record Found </p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
    </p-card>
  </div>
</div>
