<div class="p-grid">
    <div class="p-col-12">
        <ngx-spinner name="collections-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                     type="ball-clip-rotate"
                     [fullScreen]="true"><p> Loading... </p></ngx-spinner>
        <p-card *ngIf="show">
            <div class="p-d-flex p-justify-end">
                <button type="button" class="p-button p-component w-auto p-mb-3"
                        (click)="downloadCSV(indicatorData?.title)">
                    <span><i class="fa fa-download"></i> </span>
                    Download CSV
                    <i class="pi pi-spin pi-spinner" *ngIf="exportReporting"></i>
                </button>
            </div>
            <table class="p-datatable-customers p-datatable-gridlines app-table">
                <tbody>
                <tr *ngIf="indicatorData.title">
                    <th>Title</th>
                    <td>{{indicatorData.title || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.owner">
                    <th>Owner</th>
                    <td>{{indicatorData.owner || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.description">
                    <th>Description</th>
                    <td><span *ngIf="indicatorData.description" [innerHTML]="indicatorData.description"></span>
                        <span *ngIf="!indicatorData.description">--</span></td>
                </tr>
                <tr *ngIf="indicatorData.uploadDate">
                    <th>Upload Date</th>
                    <td>{{indicatorData.uploadDate || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.modifiedDate">
                    <th>Modified Date</th>
                    <td>{{indicatorData.modifiedDate || "--"}}</td>
                </tr>
                <tr *ngIf="indicatorData.tagDetails && indicatorData.tagDetails.length > 0">
                    <th>Tags</th>
                    <td><span *ngFor="let symbols of indicatorData.tagDetails">
                   <p-tag (click)="openDialog(symbols.name)"
                          class="fontsize">{{symbols.name}} </p-tag>
                    </span></td>
                </tr>
                <tr *ngIf="indicatorData.indicatorCountsList && indicatorData.indicatorCountsList.length > 0">
                    <th>IOC Type Counts</th>
                    <td>
                        <span *ngFor="let symbols of indicatorData.indicatorCountsList">
                            <p-tag>{{symbols.type}} &nbsp;<p-badge value="{{symbols.count}}" styleClass="p-mr-2">{{symbols.count}}</p-badge></p-tag> &nbsp;
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <p-table #dt [value]="details" [alwaysShowPaginator]="false" [paginator]="true" [rows]="10"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"

                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Indicator</th>
                        <th> Type</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>{{rowData.indicator}}</td>
                        <td>{{rowData.type}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <p-card *ngIf="!show">
            <div class="card-body">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">No Record Found</li>
                    </ul>
                </div>
            </div>
        </p-card>
    </div>
</div>
