<div class="p-grid">
    <div class="p-col">
        <p-card header="Search Results for {{value}}">
            <ngx-spinner name="explore-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                         type="ball-clip-rotate"
                         [fullScreen]="true"><p> Loading... </p></ngx-spinner>
            <div *ngIf="type === 'Contributors'">
                <p-table #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                         [paginator]="true" [rows]="10"
                         [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                         [totalRecords]="totalRecords"
                         styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Title</th>
                            <th> Tags</th>
                            <th> Upload Date</th>
                            <th> Last Updated</th>
                            <th> Counts</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.title}}"
                                   (click)="openCollectionsDialog(rowData.id)">{{rowData.title}}</a></td>
                            <td><span *ngFor="let symbols of rowData.tagDetails"><p-tag
                                    (click)="openTagDialog(symbols.name)">{{symbols.name}}</p-tag></span></td>
                            <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                            <td>{{rowData.modifiedDate  | date:'dd/MMM/yyyy'}}</td>
                            <td>{{rowData?.indicatorCounts?.totalCount || "-"}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="type === 'Collections'">
                <p-card>
                    <button *ngIf="exploreData" class="p-button p-component ng-star-inserted w-auto" type="button"
                            (click)="downloadCSV(exploreData?.title)">
                        <span class="p-button-label">  Download CSV
                        <i class="pi pi-spin pi-spinner" *ngIf="exportReporting"></i></span>
                    </button>
                    <table *ngIf="exploreData" class="p-datatable-customers p-datatable-gridlines app-table">
                        <tbody>
                        <tr *ngIf="exploreData.owner">
                            <th>Owner</th>
                            <td>{{exploreData?.owner || "--"}}</td>
                        </tr>
                        <tr *ngIf="exploreData.description">
                            <th>Description</th>
                            <td><span *ngIf="exploreData.description" [innerHTML]="exploreData?.description"></span>
                                <span *ngIf="!exploreData.description">--</span></td>
                        </tr>
                        <tr *ngIf="exploreData.uploadDate">
                            <th>Upload Date</th>
                            <td>{{exploreData?.uploadDate || "--"}}</td>
                        </tr>
                        <tr *ngIf="exploreData.modifiedDate">
                            <th>Modified Date</th>
                            <td>{{exploreData?.modifiedDate || "--"}}</td>
                        </tr>
                        <tr *ngIf="exploreData.tagDetails && exploreData.tagDetails.length > 0">
                            <th>Tags</th>
                            <td><span *ngFor="let symbols of exploreData.tagDetails">
                   <p-tag (click)="openDialog(symbols.name)"
                          class="fontsize">{{symbols?.name}} </p-tag>
                    </span></td>
                        </tr>
                        <tr *ngIf="exploreData.indicatorCountsList && exploreData.indicatorCountsList.length > 0">
                            <th>IOC Type Counts</th>
                            <td>
                        <span *ngFor="let symbols of exploreData.indicatorCountsList">
                            <p-tag>{{symbols.type}} &nbsp;<p-badge value="{{symbols.count}}" styleClass="p-mr-2">{{symbols?.count}}</p-badge></p-tag> &nbsp;
                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p-table #dt [value]="details" [alwaysShowPaginator]="false" [paginator]="true"
                             [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Indicator</th>
                                <th> Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td>{{rowData.indicator}}</td>
                                <td>{{rowData.type}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="2">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12">
                                            <div class="panel panel-default">
                                                <p class="msg-dashBoard"> No Record Found </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
            <div *ngIf="type === 'Tag'">
                <p-card header="Tag: {{value}}({{tCounts}}) ">
                    <p-table #dt [value]="exploreData" [alwaysShowPaginator]="false" [paginator]="true"
                             [showCurrentPageReport]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                             [rows]="10"
                             styleClass="p-datatable-customers p-datatable-gridlines app-table">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th> Name</th>
                                <th> Counts</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td><a class="onRowClick" pTooltip="{{rowData.type}}"
                                       (click)="routeToComp(rowData.type)">{{rowData?.type}}</a></td>
                                <td>{{rowData?.count}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="2">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 col-md-12">
                                            <div class="panel panel-default">
                                                <p class="msg-dashBoard"> No Record Found </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
            <div *ngIf="type !== 'Collections' && type !== 'Contributors' && type !== 'Tag'">
                <br>
                <div *ngIf="dataSources && dataSources.length > 0">
                    <span class="pl-4"><b>Source(s): </b></span>
                    <span *ngFor="let symbols of dataSources">
                    <img pTooltip="{{symbols}}"
                         src="../../../../assets/svgs/{{symbols}}.png" width="50px">
                    </span>
                </div>
                <p-table #dt [value]="exploreData" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                         [paginator]="true" [rows]="10"
                         [lazy]="true" [lazyLoadOnInit]="false" (onLazyLoad)="pagination($event)"
                         [totalRecords]="totalRecords"
                         styleClass="p-datatable-customers p-datatable-gridlines app-table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th> Title</th>
                            <th> Tags</th>
                            <th> Upload Date</th>
                            <th> Last Updated</th>
                            <th> Contributor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td><a class="onRowClick" pTooltip="{{rowData.title}}"
                                   (click)="openCollectionsDialog(rowData.id)">{{rowData.title}}</a></td>
                            <td><span *ngFor="let symbols of rowData.tagDetails"><p-tag
                                    (click)="openTagDialog(symbols.name)">{{symbols.name}}</p-tag></span></td>
                            <td>{{rowData.uploadDate  | date:'dd/MMM/yyyy'}}</td>
                            <td>{{rowData.modifiedDate  | date:'dd/MMM/yyyy'}}</td>
                            <td><a class="onRowClick" pTooltip="{{rowData.owner}}"
                                   (click)="openDialog(rowData.owner)">{{rowData.owner}}</a></td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="5">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                        <div class="panel panel-default">
                                            <p class="msg-dashBoard"> No Record Found </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
</div>
